//Card settings
$cardWidth: 600px;
$cardHeight: 450px;

//Text
$textColor: #FFFFFF;
$textFontFamily: serif;
$textFontWeight: bold;

//VK button
$buttonBackgroundColor: #7C90A6;
$buttonWidth: 300px;

//VK button LOGO
$vkButtonLogoWidth: 5vh;
$vkButtonLogoHeight: 5vh;

//App LOGO
$appLogo: 50vh;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $cardWidth;
  height: $cardHeight;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  font-family: $textFontFamily;
  font-weight: $textFontWeight;
  width: $buttonWidth;
  max-width: 100%;
  height: auto;
  background-color: $buttonBackgroundColor;
}
.button__vkLogo {
  width: $vkButtonLogoWidth;
  height: $vkButtonLogoHeight;
  margin-right: 10px;
}
.appLogo {
  height: $appLogo;
}
