<mat-card class="container">
  <div class="container__profile">
    <div class="profile__personalInformation">
      <img class="personalInformation__photo" [src]="imagePath">
      <mat-form-field>
        <input matInput class="personalInformation__name" readonly [value]="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput class="personalInformation__surname" readonly [value]="userSurname">
      </mat-form-field>
      </div>
    <div class="profile__societyInformation">
      <mat-form-field>
        <input matInput class="societyInformation__status" placeholder="status" readonly [value]="userOnlineStatus | onlineStatus">
      </mat-form-field>
      <mat-form-field>
        <input matInput class="societyInformation__friends" placeholder="friends" readonly>
      </mat-form-field>
      </div>
  </div>
  <button class="container_button" mat-raised-button (click)="getCodeMouseEvent()">Enter from</button>
</mat-card>
